<mat-card> 
    <mat-card-title> Frequently Asked Questions </mat-card-title>
    <br/>

    <mat-card-content  [style.overflow]="'auto'" [style.height.px]="'500'"> 
        
       <strong> 1. Can I get a refund for my ride if I do not travel? </strong>
        <p> 
        We recommend reviewing the cancellation and refund policies indicated on your booking confirmation email. In order to qualify for Easy ride refund, in the form of a voucher, you must cancel your ride up to 30 minutes before the scheduled departure time indicated on your ticket. After cancelling you'll receive a voucher (valid for 1 year) for the amount of the booking. Use this voucher to book your next ride.
        </p>

        <strong> 2. Why didn't I receive a booking confirmation email? </strong>
        <p> 
            If you haven't received a confirmation email with your ticket information within 10 minutes of making your booking, we recommend checking the different mailboxes available: spam, junk mail, promotions etc.
        </p>
       
    </mat-card-content>
    
</mat-card>