<mat-card> 
    <mat-card-title> <p style="text-align: center"> Contact us </mat-card-title>
    <br/>

    <mat-card-content  [style.overflow]="'auto'" [style.height.px]="'500'"> 
    
        <h2 style="text-align:left"> Business Queries </h2>
              <p className="text-center text-muted mb-2">
                Do you want to talk to us about advertisements or bunsiness
                related queries?
              </p>
              
              <p> <strong> Call us at:</strong> <br/> +1-467-234-980</p>
              <p> <strong> Mail us at:</strong> <br/> business@easyride.com</p>
       
              <h2 style="text-align:left"> Customer Support </h2>
              <p className="text-center text-muted mb-2">
                Do you want to talk to us about ride grievances? Write to us
                and we will solve your issue!
              </p>
              <p> <strong> Call us at:</strong> <br/> +1-467-234-970</p>
              <p> <strong> Mail us at:</strong> <br/> support@easyride.com </p>
       
    </mat-card-content>
    
</mat-card>