.loader{
    background-color: black;
    opacity: 60%;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 799;
}

.spinner{
    position: fixed;
    z-index: 999;
    top: 40vh;
    left: 45vw;
}