<section class="message-section" *ngIf="data.type === 'W'">
    <h1 mat-dialog-title>{{data.title}}</h1>
    <div mat-dialog-content>{{data.message}}</div>
    <div class="message-button-div" mat-dialog-actions>
        <button class="message-button" mat-raised-button  mat-dialog-close (click)="close('N')">Close</button>
        <button class="message-button message-warn-button" mat-raised-button mat-dialog-close (click)="close('Y')">{{data.buttonText}}</button>
    </div>
</section>

<section class="message-section" *ngIf="data.type === 'C'">
    <h1 mat-dialog-title>{{data.title}}</h1>
    <div mat-dialog-content>{{data.message}}</div>
</section>

<section class="message-section" *ngIf="data.type === 'E'">
    <h1 mat-dialog-title>{{data.title}}</h1>
    <div mat-dialog-content>{{data.message}}</div>
</section>