<div class="body">

    <div class="ride-container">
      <p style="padding-left: 10px;"> Mumford Terminal → Dalhousie </p>
      <p style="padding-left: 10px;"> <strong> {{_dataService.myRide.length}} </strong> ride available </p>
      <div class = "pre-scrollable" >
        <!-- <div class="ride">

            <div class="content">
                <div class="time">
                    <span> 08:40 </span>
                    <br/><span>20 Minutes</span>
                    <br/>
                    <span> 09:00 </span>
                 </div>
                   <div class="location">
                       <span> Halifax </span>
                       <br/>
                       <br/>
                       <span> Dartmouth </span>
                    </div>
                    <div class="price">
                        <span style="float: right">  $&nbsp;3 </span>
                    </div>
                    <div class="action">
                        <a (click)="edit()"> Edit </a>
                    </div>

                </div>

                <div class="name">
                    <span class="glyphicon glyphicon-user icon user-icon dropdown-toggle" data-toggle="dropdown"></span>
                    <span> Smith </span>
                </div>
        </div>
      <div class="ride">
        <div class="content">
          <div class="time">
            <span> 08:30 </span>
            <br/><span>30 Minutes</span>
            <br/>
            <span> 09:00 </span>
          </div>
          <div class="location">
            <span> Halifax </span>
            <br/>
            <br/>
            <span> Dartmouth </span>
          </div>
          <div class="price">
            <span style="float: right">  $&nbsp;4 </span>
          </div>
          <div class="action">
            <a (click)="edit()"> Edit </a>
          </div>

        </div>

        <div class="name">
          <span class="glyphicon glyphicon-user icon user-icon dropdown-toggle" data-toggle="dropdown"></span>
          <span> Roger </span>
        </div>

      </div> -->

      <div class="ride" *ngFor="let ride of _dataService.myRide">
        <div class="content">
            <div class="time">
                <span> {{ride?.time}} </span>

            </div>
            <div class="location">
                <span> {{ride?.origin}} </span>
                <span> {{ride?.destination}} </span>
            </div>
            <div class="price">
                <span style="float: right"> $&nbsp;{{ride?.price}} </span>
            </div>
            <div class="action">
              <a (click)="edit(ride.id)"> Edit </a>
            </div>
            <div class="action">
              <a (click)="delete(ride.id)"> Delete </a>
            </div>

        </div>

        <div class="name">
            <span class="glyphicon glyphicon-user icon user-icon dropdown-toggle"
                data-toggle="dropdown"></span>
            <span> {{ride?.ride_title}} </span>
        </div>
    </div>

    </div>
    </div>
    </div>
