<div class="body" xmlns="http://www.w3.org/1999/html">

    <div class="ride-container">
      <b><h1 style="padding-left: 10px;"> Tomorrow </h1></b>
      <p style="padding-left: 10px;"> Halifax → Dartmouth </p>
      <p style="padding-left: 10px;"> <strong> 2 </strong> ride available </p>
      <div class = "pre-scrollable" >
        <div class="ride">

            <div class="content">
                <div class="time">
                    <span> 08:40 </span>
                    <br/><span>20 Minutes</span>
                    <br/>
                    <span> 09:00 </span>
                 </div>
                   <div class="location">
                       <span> Halifax </span>
                       <br/>
                       <br/>
                       <span> Dartmouth </span>
                    </div>
                    <div class="price">
                        <span style="float: right">  $&nbsp;3 </span>
                    </div>
                    <div class="action">
                        <a (click)="edit()"> Edit </a>
                    </div>

                </div>

                <div class="name">
                    <span class="glyphicon glyphicon-user icon user-icon dropdown-toggle" data-toggle="dropdown"></span>
                    <span> Smith </span>
                </div>
        </div>
      <div class="ride">
        <div class="content">
          <div class="time">
            <span> 08:30 </span>
            <br/><span>30 Minutes</span>
            <br/>
            <span> 09:00 </span>
          </div>
          <div class="location">
            <span> Halifax </span>
            <br/>
            <br/>
            <span> Dartmouth </span>
          </div>
          <div class="price">
            <span style="float: right">  $&nbsp;4 </span>
          </div>
          <div class="action">
            <a (click)="edit()"> Edit </a>
          </div>

        </div>

        <div class="name">
          <span class="glyphicon glyphicon-user icon user-icon dropdown-toggle" data-toggle="dropdown"></span>
          <span> Roger </span>
        </div>

      </div>

    </div>
    </div>
    </div>
