<div class="update-ride-container"> 
    <h1 mat-dialog-title> UPDATE RIDE </h1>
<div mat-dialog-content>
    <form [formGroup]="UpdateRideFormGroup">
        <mat-form-field style="margin-right: 15px;">
            <mat-label>From</mat-label>
            <input matInput formControlName="From" placeholder="From" type="text">
        </mat-form-field>  <br/>

        <mat-form-field>
            <mat-label>To</mat-label>
            <input matInput formControlName="To" placeholder="To" type="text">
        </mat-form-field>  <br/>

        <mat-form-field>
            <mat-label>Price</mat-label>
            <input matInput formControlName="Price" placeholder="Price" type="text">
        </mat-form-field>  <br/>

        <mat-form-field>
            <mat-label>Departure Time</mat-label>
            <input matInput formControlName="Departure" placeholder="Departure Time" type="text">
        </mat-form-field>  <br/>

        <mat-form-field>
            <mat-label>Arrival Time</mat-label>
            <input matInput formControlName="Arrival" placeholder="Arrival Time" type="text">
        </mat-form-field>  <br/>

        <br>

        <button mat-raised-button color="primary" type="submit">Update Ride</button> &nbsp;
        <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>

    </form>
</div>
</div>
